#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	/* full width */
	width: 100%;

	/* set padding */
	padding: 20px 0;

	/* background color */
	background-color: rgba(36, 41, 46);

	/* font color */
	color: #F8F8F8;

    & div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}