#header {
	/* set fixed position */
	position: fixed;

	/* set index to 2, ensuring it'll be in front of other elements */
	z-index: 2;

	/* set full width */
	width: 100%;

	/* set a 10px padding */
	padding: 15px 0;

	/* set background color */
	background-color: var(--primary);

    font-weight: 600;
}

#header a, #header_logo {
	/* position and display styles */
	position: relative;
	display: inline-block;

	/* set cursor to pointer, like links */
	cursor: pointer;

	/* font styles */
	font-size: 0.95em;
	color: #F8F8F8;
	text-transform: uppercase;
}

#header a { margin-left: 40px; } /* set gap between navigation links */

/* Underline Effects (tl;dr) */
#header a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #F8F8F8;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	margin-bottom: -2px;
}

#header a:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

#header #header_logo {
	/* set image dimensions */
	height: 40px;
	width: auto;

	/* apply padding */
	padding-left: 10%;

	/* vertical aligning */
	vertical-align: middle;
}

#header .nav_links {
	/* apply padding */
	padding-top: 10px;
	padding-right: 10%;

	/* set float to right */
	float: right;

	/* prevent wrapping */
	white-space: nowrap;
}

